/* Estiliza as setas de navegação do Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #000000; /* Altere para a cor desejada */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 40px; /* Ajuste o tamanho das setas, se necessário */
}

/* Estiliza os bullets da paginação */
.swiper-pagination-bullet {
  background-color: #000000; /* Altere para a cor desejada */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff; /* Altere para a cor desejada para o bullet ativo */
}

/* Estiliza as setas de navegação do Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #000000; /* Altere para a cor desejada */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 40px; /* Ajuste o tamanho das setas, se necessário */
}